@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

html,
body,
#root {
  height: 100vh;
  background: transparent;
}

html,
body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: var(--font-weight-normal);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-background: var(--background);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-background-4: var(--background-4);
  --color-background-muted: var(--background-muted);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-alert-destructive: var(--alert-destructive);
}

:root {
  --spacing: 4px;
  --text-2xs: 12px;
  --text-xs: 13px;
  --text-sm: 14px;
  --text-base: 15px;
  --text-lg: 17px;
  --text-xl: 22px;
  --text-2xl: 24px;
  --radius: 4px;
  --font-weight-normal: 400;
  --font-weight-medium: 590;
  --alert-destructive: rgba(255, 66, 69, 0.12);
  --success: rgba(48, 209, 88, 1);
  --error: rgba(255, 66, 69, 1);
  --warning: rgba(255, 142, 11, 1);

  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: rgba(255, 97, 31, 1);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: rgba(235, 235, 245, 0.6);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: rgba(235, 235, 245, 0.6);

  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.75 0.183 55.934);
  --chart-1: oklch(0.837 0.128 66.29);
  --chart-2: oklch(0.6729 0.2192 37.56);
  --chart-3: oklch(0.646 0.222 41.116);
  --chart-4: oklch(0.553 0.195 38.402);
  --chart-5: oklch(0.47 0.157 37.304);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.646 0.222 41.116);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.75 0.183 55.934);
  --sidebar-width: 48rem;
}

.dark {
  --muted-foreground: rgba(235, 235, 245, 0.3);
  --background-2: rgba(118, 118, 128, 0.2);
  --background-3: rgba(118, 118, 128, 0.12);
  --background-4: rgba(118, 118, 128, 0.08);
  --background-muted: rgba(120, 120, 128, 0.3);
  --secondary-foreground: rgba(235, 235, 245, 0.6);

  --background: rgba(0, 0, 0, 1);
  --foreground: oklch(100% 0.00011 271.152);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.6729 0.2192 37.56);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.274 0.006 286.033);
  --muted: oklch(0.274 0.006 286.033);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: rgba(118, 118, 128, 0.2);
  --ring: rgba(255, 255, 255, 0.6);
  --chart-1: oklch(0.837 0.128 66.29);
  --chart-2: oklch(0.6729 0.2192 37.56);
  --chart-3: oklch(0.646 0.222 41.116);
  --chart-4: oklch(0.553 0.195 38.402);
  --chart-5: oklch(0.47 0.157 37.304);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.6729 0.2192 37.56);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.408 0.123 38.172);
  --sidebar-width: 48rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground !rounded-b-[24px] font-normal overflow-hidden;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-muted);
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.stable-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
}

[data-sonner-toast][data-type="success"] {
  background: rgba(28, 28, 30, 1) !important;
  color: var(--success) !important;
  line-height: 20px;
}
[data-sonner-toast][data-type="error"] {
  background: rgba(28, 28, 30, 1) !important;
  color: var(--error) !important;
  line-height: 20px;
}
div {
  word-break: break-all;
}
